html {
  background-color: #b9b7bd;
  background: linear-gradient(to right bottom, #e7d2cc 50%, #b9b7bd 50%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}
